$primary-color: #E6E6E6;
$secondary-color: #FFFFFF;
$tertiary-color: #22065F;
$color-alternative: #A0F1D1;
$color-optional: #180442;
$color-optional-2: #000000;

@mixin font-orbitron{
    font-family: 'Orbitron', sans-serif;
}
@mixin font-Roboto{
    font-family: 'Roboto', sans-serif;
}

@mixin boton{
    background-color: $secondary-color;
    color: $primary-color;
    border-radius: 25px;
    height: 40px;
    padding: 0px 35px;
    border: none;
    transition: all 0.4s;

    &:hover{
        transform: scale(0.98);
    }
}

@mixin center {
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin centrar-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@mixin shadow {
    box-shadow: 0px 10px 38px 2px rgba(0,0,0,0.18);
    -webkit-box-shadow: 0px 10px 38px 2px rgba(0,0,0,0.18);
    -moz-box-shadow: 0px 10px 38px 2px rgba(0,0,0,0.18);
}
@mixin reset-pm{
    padding: 0;
    margin: 0;
}

@mixin background-1{
    background: rgb(93,95,239);
background: linear-gradient(90deg, rgba(93,95,239,1) 0%, rgba(245,254,125,0.2) 100%);
}

@mixin background-2{
    background: rgb(245,254,125);
background: linear-gradient(90deg, rgba(245,254,125,0.2) 0%, rgba(93,95,239,1) 100%);
}